* {
  margin: 0;
  padding: 0;
}

.choices {
  width: fit-content;
  margin: 0 auto;

  display: flex;
  gap: 20px;

  button {
    border: none;
    width: 100px;
    height: 100px;
    font-size: 50px;
    border-radius: 10px;
    cursor: pointer;
  }
}
