* {
  margin: 0;
  padding: 0;
}

.choices {
  width: fit-content;
  margin: 0 auto;

  display: flex;
  gap: 50px;

  button {
    border: none;
    width: 222px;
    height: 222px;
    border-radius: 100%;
    cursor: pointer;
    background: #ffffff;
    box-shadow: 4px -7px 0px 0px #c2c2c2 inset, 4px 4px 0px 0px #000000;
  }
}

#reset {
  display: none;
}

#text {
  display: none;
}

#user {
  display: none;
}

#com {
  display: none;
}

.display {
  width: 100vw;
  height: 100vh;
  background-color: #9dcaff;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  color: #f6f8ff;
}

.human-arm {
  height: 209.79px;
  width: 195px;
}

.text-position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play__text {
  font-size: 50px;
  color: #f6f8ff;
  margin-top: 50px;
  display: flex;
  gap: 15px;
}

.text {
  font-size: 40px;
}

.reset__btn {
  width: 200px;
  height: 100px;
  border-radius: 30px;
  border: none;
  font-size: 30px;
  color: #f6f8ff;
  background-color: #294d61;
  margin-top: 50px;
}
